SUPABASE_DB_HOST=your_host
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=your_user
SUPABASE_DB_PASSWORD=your_password

CSV_FILE_PATH=clinic_data.csv
SOURCE_FILE_NAME=clinic_data.csv